---
layout: default
---
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header>
  <div class="container header-container">
    <a href="/" class="logo" title="Reptile Birds">
      <img src="assets/img/reptilebirds.png" class="cover-author-image" alt="Reptile Birds" width="40px" height="40px"/>
    </a>
    <div class="nav-controls">
      <a href="json-converters" onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">JSON Tools</a> | 
      <a href="csv-converter" onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">CSV Tools</a> | 
      <a href="excel-converter" onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">Excel Tools</a> | 
      <a href="xml-converter" onmouseover="this.style.color='rgb(239, 96, 8)';" onmouseout="this.style.color='black';">XML Tools</a>
    </div>
  </div>
</header>

<main id="content" role="main">
  <!-- HERO -->
  {{content}}
</main>
<footer>
  <div class="container">
    <div class="footer-content">                
      <div class="footer-column">
        <ul class="footer-links"></ul>
      </div>

      <div class="footer-column">
        <h3>Data Analysis Tools</h3>
        <ul class="footer-links">
          <li><a href="/text-analyser" title="Analyze text online for words, characters, sentences, and more">📝 Text Analyser</a></li>

        </ul>
      </div>

      <div class="footer-column">
        <h3>Developer Tools</h3>
        <ul class="footer-links">
          <li><a href="/xml-to-xsd-generator" title="Generate XSD from XML online">🗂️ XML to XSD Generator</a></li>
          <li><a href="/json-to-dart" title="Convert JSON data to Dart models">🖥️ JSON to Dart</a></li>
          <li><a href="/json-to-json-schema" title="Generate JSON Schema from JSON data">📊 JSON to JSON Schema</a></li>
          <li><a href="/json-to-sql" title="Convert JSON data into SQL statements">🗃️ JSON to SQL</a></li>
        </ul>
      </div>
      
      <div class="footer-column">
        <h3>Resources</h3>
        <ul class="footer-links">
            <li><a href="blog" aria-label="Reptile Birds Blog">📝 Blog</a></li>
            <li><a href="privacy-policy" aria-label="Reptile Birds Privacy Policy">🔒 Privacy Policy</a></li>
            <!-- <li><a href="contact-us" aria-label="Reptile Birds Contact Us">📞 Contact Us</a></li> -->
            <li><a href="about-us" aria-label="Reptile Birds About Us">ℹ️ About Us</a></li>
            <li><a href="terms-of-service" aria-label="Reptile Birds Terms of Service">⚖️ Terms of Service</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="footer-column">
        <h3><a href="/">Reptile Birds</a></h3>
        <p>
          Reptile Birds provides free, secure browser-based tools for structured data — convert and format 
          <strong>JSON, CSV, XML, and Excel</strong> files instantly.  
          Our mission is to simplify data handling for developers, analysts, and learners with reliable, ad-free utilities that run directly in your browser.
          Explore tutorials, productivity insights, and best practices in our blog to enhance your data workflow.
        </p>
      </div>
      <div style="width: 99%; display: flex; justify-content: flex-end;">
        <p>&copy; {{ site.time | date: "%Y" }} Reptile Birds | Built with precision and ❤️</p>
      </div>
    </div>
  </div>
</footer>
